@charset "UTF-8";

body > div#container {
	/* border:solid 1px grey; */
	width: 80%;
	margin: 0 auto;	
}

h2 { color: green;
	 text-decoration: underline;
	 margin: 30px 0;	
	}
	
	
table {
	width: 80%;
	border: solid 1px grey;
	border-collapse: collapse;
	
}

td {
	border: solid 1px grey;
	padding: 1%;
}

tr {
	line-height: 200%;
}

input {
	line-height: 150%;
}

button {
	width: 60px;
	height: 30px;
	font-size: 12pt;
	font-weight: bold;
	cursor:pointer; 
}

#container > table > tbody > tr:nth-child(7) > td {
	text-align: center;
	background-color: ivory;
}

td.title {
	background-color: ivory;
	color: #ff6600;
	text-align: right;
	font-weight: bold;
}

#container > table > tbody > tr:nth-child(6) > td:nth-child(1) > label {
	color: blue;
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
	
}

